body {
  float: center;
}

h1 {
  text-align: center;
  font-weight: bold;
}

table, tr, th, td {
  text-align: center;
    border: 1px solid black;
}

.center{
margin-left: auto;
margin-right: auto;
}

.top-bar {
  text-align: center;
  display: inline-block;
}

#ol-left {
  float: left;
}

#ul-right {
  float: right;
}